@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Oswald:wght@200;400&family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Young Serif', serif;  
    
}

body {
    color: #8e8e8e;
    background: #2E2E2E;
}

h1 {
    text-align: center;
}

.startBtn {
    font-size: 25px;
    font-weight: 500;
    padding: 15px;
    border: 5px #4E4E4E;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.rules_list{
    background: #fff;
    color:#2E2E2E;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    line-height: 2;
}

.rules_list span {
    color: red;
    font-weight: 800;
    text-decoration: underline;
}

.startBtn:hover{
    color: white;
    background: #4E4E4E;
    border: solid 1px #fff;
}

